In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
import datetime

In [19]:
df=pd.read_csv('dummy_enc.csv')
df.head()

   Student ID    Name  Attendance Batch codes    Status Date Updated   Remarks
0           1   Apurv          78        UC12  Studying   12-08-2020  Studying
1           2   Anand          48        UC13    Placed   11-08-2020    Passed
2           3  Aditya          33        UC12   Dropout   12-08-2020   Dropout

In [20]:
date=input("Date of observation ")

Date of observation

In [21]:
# date_now=datetime.date.today()
# print(date_now)

In [22]:
print(date)

In [23]:
today = datetime.date.today()
data_now = today.strftime("%d/%m/%Y")
print(date_now)

2020-08-16

In [24]:
import json

In [25]:
x =  '{ "name":"John", "age":30, "city":"New York"}'

In [26]:
y=json.loads(x)
y['name']

'John'